<div class="ui top-heading">
    <div class="ui container">
        <span class="item">Situs jual beli online mudah & terpercaya</span>
        <div class="right">
            <a class="item" href="#">Messages</a>
            <a class="item" href="#">Friends</a>
        </div>
    </div>
</div>
